@leftSideWidth: 380px;

.node-nav-area {
  width: @leftSideWidth;
  padding-top: 50px;
  position: fixed;
  border-right: 1px solid #eee;
  z-index: 1;
  overflow: scroll;
  bottom: 0;
  top: 60px;
  display: flex;
  flex-flow: column;
  .node-info-wrap {
    margin-left: 72px;
    margin-bottom: 25px;
    .title {
      font-size: 30px;
      margin-bottom: 5px;
    }
    .node-link {
      font-size: 16px;
      color: #666666;
    }

    .fl-icon-node-page {
      vertical-align: middle;
      margin-left: 15px;
      width: 15px;
    }
  }

  .node-detail-nav-wrap {
    overflow: scroll;
    flex: 1;
    margin-bottom: 100px;
  }
  .nav-item {
    padding-left: 72px;
    font-size: 14px;
    color: #333;
    line-height: 50px;
    cursor: pointer;
    &:hover {
      background-color: #F5F5F5;
    }

    &.active {
      background-color: #F5F5F5;
    }
  }

  .node-status-info {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: white;
    padding: 15px 72px;
    .node-status-btn {
      background-color: #333333;
      color: white;
      width: 100%;
    }
    p {
      margin-bottom: 6px;
    }
  }
}

.right-side-wrap {
  margin-left: @leftSideWidth;
  //overflow: scroll;
  //position: absolute;
  //top: 0;
  //left: 0;
  //bottom: 0;
  //right: 0;
}
