.base-resource-wrap {
  width: 720px;
  margin: auto;
  .resource-name {
    width: 64.5%;
  }

  .resource-type {
    width: 30%;
  }

  .step-title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
  }

  .res-desc-editor {
    height: 400px;
  }

  &.resource-edit-mode-editor {
    .res-file-uploader {
      display: none;
    }
  }
}
