
.box {
  margin-bottom: 15px;
}

.tool-list {
  border: 1px solid #ccc;
  border-radius: 2px;
  border-bottom: none;
  padding-left: 15px;

  li {
    display: inline-block;
    margin-right: 4px;
    height: 42px;
    line-height: 42px;
    .op-btn {
      padding: 0;
    }

    i {
      font-size: 16px;
      padding: 0 3px;
      transition: all .2s;
    }

    &:hover {
      i {
        font-size: 20px;
      }
    }
  }
}
