@contentWidth: 720px;
@showSchemeAnimateTime: .8s;

.res-detail-wrap {
  width: @contentWidth;
  margin: 0 auto;
  padding-top: 34px;
  &.owner-resource {
    padding-right: 430px;
    .edit-btn {
      display: inline-block;
    }

    .res-author-avatar {
      display: none;
    }
  }

  .res-detail-content {
    transition: all @showSchemeAnimateTime;
  }

  .opts-content-wrap {
    padding: 0 40px;
    color: #333;

    .opts-bd-title {
      font-size: 19px;
      margin-bottom: 5px;
    }

    .opts-container {
      border-bottom: 1px solid #D8D8D8;
      padding: 15px 0;
    }
    .node-opts {
      max-height: 150px;
      overflow: scroll;

      .checkbox-item {
        cursor: pointer;
      }

      .node-opt-selected {
        color: #ccc;
        pointer-events: none;
      }
      .node-opt-check-status {
        display: inline-block;
        width: 12px;
        height: 12px;
        background-size: 100%;
        background-repeat: no-repeat;
        vertical-align: text-bottom;
        margin-right: 6px;
      }

      .checked-opt {
        background-image: url('../../../assets/img/icons/checked.png');
      }
      .unchecked-opt {
        background-image: url('../../../assets/img/icons/unchecked.png');
      }
    }

    .select-target-header {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #D8D8D8;
    }

    .select-target-bd {
      .node-opt-item {
        display: block;
        padding-bottom: 12px;
        margin: 0;
      }
    }
  }

  .dialog-footer {
    text-align: right;
    margin-top: 20px;
    .deep-color-btn {
      background-color: #333333;
      padding: 8px 50px;
      border-radius: 30px;
    }
  }
}

.res-detail-aside {
  position: fixed;
  top: 60px;
  bottom: 55px;
  right: 0;
  overflow: scroll;
  width: 0;
  z-index: 0;
  transition: all .5s;
  &.active-aside-status {
    background-color: #f5f5f5;
    z-index: 1;
    width: 430px;
  }

  .auth-schems-img-icon {
    width: 30px;
  }

  .auth-scheme-detail {
    animation-duration: @showSchemeAnimateTime;
    animation-fill-mode: both;
    height: 100%;
    //padding-bottom: 60px;
  }
}

.res-detail-bd {
  .meta-info {
    border-left: 2px solid #D8D8D8;
    padding-left: 20px;
    margin-top: 15px;
  }
}

.res-detail-hd {
  margin-bottom: 20px;
  .res-author-avatar {
    float: right;
    width: 60px;
    height: 60px;
    margin-top: 7px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .res-title {
    font-size: 28px;
    color: #333;
    margin-bottom: 6px;
  }

  .res-origin-info {
    color: #666;
    margin-bottom: 20px;
    margin-left: 6px;
    .res-author-name {
      margin-right: 20px;
    }
  }

  .res-type-info {
    font-size: 14px;
    color: #333;
    margin-left: 3px;
    .res-type {
      background-color: #eee;
      border-radius: 4px;
      padding: 1px 10px;
      display: inline-block;
      color: #999999;
      margin-right: 20px;
    }
  }
}

.res-detail-desc {
  margin-bottom: 25px;
}

.res-detail-ft {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 9px 0;
  background-color: white;
  z-index: 9;
  border-top: 1px solid #ccc;
  .res-detail-ft-content {
    width: @contentWidth;
    margin: auto;
    height: 36px;
    line-height: 36px;
  }

  .auth-btn {
    float: right;
    margin-right: 15px;
    background-color: #333333;
    border-radius: 32px;
    padding: 10px 50px;
    color: white;
  }
  .detail-ft-btn {
    margin-right: 50px;
    color: #333333;
    padding: 0;
    font-weight: normal;
  }
  .edit-btn {
    display: none;
  }
}

.img-icon {
  margin-right: 12px;
  width: 13px;
  vertical-align: text-top;
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation-name: slideInRight;
}

@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.slideOutRight {
  animation-name: slideOutRight;
}

.op-btns {
  position: fixed;
  z-index: 9;
  right: 38px;
  top: 95px;
}

.show-btn {
  width: 25px;
  .auth-schems-img-icon {
    width: 100%;
  }
}
