.switch-container {
  height: 22px;
  width: 70px;
  border-radius: 12px;
  line-height: 22px;
  position: relative;
  text-align: center;
  cursor: pointer;
  box-sizing: content-box;

  &.active-switch {
    background: #89D1AC;
    border: 1px solid #89D1AC;
    .switch-label {
      color: white;
      padding-right: 18px;
    }

    .switch-mesh {
      border-color: #89D1AC;
      left: 47px;
    }
  }

  &.inactive-switch {
    background: #FAFAFA;
    border: 1px solid #CCCCCC;
    .switch-mesh {
      border-color: #CCCCCC;
      left: -1px;
    }

    .switch-label {
      color: #CCCCCC;
      padding-left: 18px;
    }
  }

  .switch-mesh {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: white;
    border: 1px solid #CCCCCC;
    position: absolute;
    left: -1px;
    top: -1px;
    transition: left .5s;
  }
}
