@import "mixin.less";
@import "icon.less";
@import "./variables.less";

#app {
  //font-family: tahoma, 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html body {
  font: 12px/1.5  tahoma, arial;

  [class^="el-icon-fa"], [class*=" el-icon-fa"] {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome !important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  color: #333333;
}

@import url("../../node_modules/font-awesome/less/font-awesome");
@import url("../../node_modules/font-awesome/css/font-awesome.css");
@fa-css-prefix: el-icon-fa;

.clearfix {
  .clearfix()
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
}

.widget-version {
  background-color: #e77334;
  color: white;
  padding: 0 5px;
  border-radius: 3px;
  border: 1px solid #cc5819;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  display: inline-block;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

@dotSize: 5px;

//默认待处理
.dot {
  display: inline-block;
  &:after {
    content: '';
    border-radius: 50%;
    height: @dotSize;
    width: @dotSize;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    border: 3px solid #F46284;
  }

  &.solid {
    &:after {
      background-color: #F46284;
    }
  }
}

//明确上抛
.active-status-0 {
  .dot {
    &:after {
      background-color: #F46284;
    }
  }
}

//处理中
.active-status-1 {
  .dot {
    &:after {
      border-color: #89D1AC
    }
  }
}

//完全解决
.active-status-2 {
  .dot {
    &:after {
      border-color: #89D1AC;
      background-color: #89D1AC
    }
  }
}

::placeholder {
  color: #C8C8C8;
}

.test-mode {
  .for-test {
    display: inline-block;
  }
}

.for-test {
  display: none;
}

.resource-default-preview {
  background: url('../assets/img/resource.jpg') no-repeat;
  background-size: 100% 100%;
}

.resource-thumbnail-input {
  .el-upload-dragger {
    width: 120px; height: 90px; border-width: 0; border-radius: 2px;
  }
}

// policy 高亮
.beauty-poliycy-box{
  min-width: 200px;
  display: inline-block;
  font-size: 14px; line-height: 1.6;
  color: #999;
  overflow: hidden;

  .bp-audience{ }
  .bp-declaration, .bp-state, .bp-s-row:not(:first-child){
    padding-left: 1em;
  }

  .bp-state.active{
    margin-bottom: 5px; padding-right: 1em;
    border: 1px solid #B3D7FF; border-radius: 20px;
    color: #222; background: #E3F0FF;
  }
  .bp-state.active .bp-s-transition{
    color: #EE6723;
  }

  .bp-state .bp-s-event{
    pointer-events: none;
  }
  .bp-state.active .bp-s-event{
    display: inline-block; cursor: pointer; color: #3e94f3; pointer-events: auto;
  }
}

.label-title {
  font-size: 14px;
  font-weight: bold;
  &:before {
    content: ' ';
    display: inline-block;
    width: 3px;
    background: #666;
    height: 16px;
    vertical-align: text-bottom;
    margin-right: 5px;
  }
}
