.presentable-detail {
  max-width: 990px;
}

.detail-info-wrap {
  border-top: 1px solid #eeece8;
  padding-top: 15px;
  .lf-side {
    font-size: 18px;
    float: left;
  }

  .rt-side {
    margin-left: 80px;
    .btm-btns {
      text-align: center;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}

.create-p-btn {
  float: right;
  margin-right: 20px;
}

.create-tip {
  margin-left: 20px;
  margin-bottom: 20px;
  width: 88%;
}

.presentable-detail-wrapper {
  padding: 60px;
  width: 370px;
  border: 1px solid #EEEEEE;
  border-bottom: none;
  .res-intro-info {
    margin-bottom: 25px;
  }

  .presentable-auth-intro {
    margin: 0 auto 12px 0;
    color: #666;
    cursor: pointer;
    .dot {
      margin-right: 6px;
    }
    .el-icon-edit {
      margin-left: 6px;
    }
  }
}
