.resource-detail-edit-wrap {
  margin: auto;
  position: relative;
  padding-top: 63px;
  .deep-color-btn {
    border-radius: 30px;
    color: white;
  }

  .update-res-file {
    width: 500px;
    margin: 0 auto 30px;
  }
}
