.presentable-input-info {
  .presentable-input-item {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .p-input-item-content {
    margin-left: 29px;
  }

  .dot {
    margin-right: 12px;
    vertical-align: middle;
  }
  .p-input-item-title {
    margin-bottom: 12px;
    .el-icon-question {
      margin-right: 12px;
    }
  }

  .presentable-input-ft {
    text-align: center;
    .p-input-btn {
      background: #333333;
      color: white;
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}
