.presentables-wrapper {
  display: flex;

  .presentable-list-container {
    flex-basis: 430px;
    overflow: scroll;
    max-height: 100vh;
    .dot {
      float: left;
    }

    h4 {
      font-size: 19px;
      margin-top: 65px;
      margin-left: 50px;
      margin-bottom: 18px;
      .el-icon-question {
        margin-right: 12px;
        color: #666666;
      }
    }

    .presentable-item {
      padding: 15px 30px;
      cursor: pointer;

      &.active-status-2 {
        .dot, .p-title {
          opacity: .3;
        }

        .node-res-status-switch {
          display: inline-block;
        }
      }
      &.is-presentable-online {
        .dot, .p-title {
          opacity: 1;
        }
      }

      &:hover {
        background-color: #F5F5F5;
      }

      .node-res-status-switch {
        display: none;
        float: right;
        position: relative;
        z-index: 1;
      }

      &.active {
        background-color: #F5F5F5;
        color: #333333;
        font-weight: bold;
      }

      .p-title {
        display: block;
        font-size: 14px;
        padding-left: 25px;
        padding-right: 80px;
      }
    }
  }

  .presentable-detail-container {
    flex: auto;
    background-color: #FAFAFA;
  }
}
