.presentable-detail {
  max-width: 990px;
}

.detail-info-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #eeece8;
  padding-top: 15px;
  .lf-side {
    display: flex;
    width: 100px;
    justify-content: center;
    font-size: 18px;
  }

  .rt-side {
    display: flex;
    width: 100%;
    padding-left: 9px;
    .btm-btns {
      text-align: center;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}

.create-p-btn {
  float: right;
  margin-right: 20px;
}

.create-tip {
  margin-left: 20px;
  margin-bottom: 20px;
  width: 88%;
}
