@import "../../../styles/mixin";

.presentables-wrapper {
  .presentables-header-wrap {
    border-bottom: 1px solid #D8D8D8;
    padding-bottom: 10px;
    .title {
      font-size: 14px;
      font-weight: bold;
      color: #333333;
    }
    .list-actions {
      float: right;
      display: flex;
      align-items: center;
      padding-right: 10px;
      li {
        margin-left: 30px;
        max-width: 115px;
        color: #333333;
        height: 28px;
      }


      .search-btn {
        padding: 0;
        height: 100%;
      }
      .el-icon-search {
        font-size: 20px;
        color: #333333;
        font-weight: bold;
      }
    }

    .add-presentable-btn {
      display: inline-block; white-space: nowrap;
      width: 22px; height: 22px; line-height: 22px; margin-left: 10px; padding: 2px; border-radius: 14px;
      background-color: #409EFF; color: #fff;
      font-size: 14px; font-weight: bolder; text-align: center; cursor: pointer;
      transition: all .25s;

      span {
        display: inline-block;
        visibility: hidden; float: right;
      }

      &:hover {
        width: 148px; padding: 2px 0;

        span {
          width: initial; padding-right: 20px; visibility: inherit;
        }
      }
    }
  }

  .presentable-list-container {
    .add-presentable-btn {
      font-size: 16px; color: #999; cursor: pointer;
    }

    .el-icon-plus {
      margin-right: 10px; font-weight: 600;
    }
  }

  .no-present-list-wrap {
    font-size: 20px; line-height: 80px;
    text-align: center; color: #999;
  }

  .status-item-wrap {
    display: flex;
    align-items: center;
    .warning-tooltip {
      margin-left: 15px;
      width: 25px;
      height: 25px;
    }
    .status-item-tip {
      background-color: rgba(0, 0, 0, .4);
      color: white;
    }
  }

  .dialog-title {
    font-size: 20px;
  }
}
