@import "mixin.less";
@import "icon.less";

#app {
  font-family: tahoma, 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font: 12px/1.5 tahoma, arial, "\5b8b\4f53";

  [class^="el-icon-fa"], [class*=" el-icon-fa"] {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome !important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
;
}

@import url("../../node_modules/font-awesome/less/font-awesome");
@import url("../../node_modules/font-awesome/css/font-awesome.css");
@fa-css-prefix: el-icon-fa;

.clearfix {
  .clearfix()
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
}

.widget-version {
  background-color: #e77334;
  color: white;
  padding: 0 5px;
  border-radius: 3px;
  border: 1px solid #cc5819;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  display: inline-block;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}


@dotSize: 10px;

.dot {
  display: inline-block;
  &:after {
    content: '';
    border-radius: 50%;
    height: @dotSize;
    width: @dotSize;
    background-color: #f23e5c;
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
  }
}

.active-status-0 {
  .dot {
    &:after {
      background-color: #f23e5c
    }
  }
}

.active-status-1 {
  .dot {
    &:after {
      background-color: #FFC033
    }
  }
}

.active-status-2 {
  .dot {
    &:after {
      background-color: #66bc35
    }
  }
}
