.el-tabs__content {
  overflow: auto;
}

.authorization-scheme-box {
  position: relative; z-index: 5;
  display: flex; overflow: auto;
  margin: 0 -20px; min-height: 300px;

  .scheme-partition {
    position: relative;
    flex: 1; box-sizing: border-box;
    min-width: 520px; min-height: 600px; padding: 20px;

    &:not(:first-child) {
      border-left: 1px solid #D8D8D8;
    }

    .s-p-resolve-btn {
      position: absolute; right: 20px; top: 30px; z-index: 2;
      padding: 10px 20px; border: 1px solid #F4C0C0; border-radius: 22px;
      background-color: #FCE9E9; color: #FA686D; font-size: 14px;
      cursor: pointer;

      &.s-p-no-resolve{
        background: #EB6C71; color: #fff;
      }
    }

    .s-p-mask {
      position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 1;
      background-color: rgba(255, 255, 255, .6);
    }
  }

  .upcast-resource-head {
    position: relative;
    margin-bottom: 20px; padding-bottom: 10px; border-bottom: 1px solid #D8D8D8;

    h3 {
      margin-bottom: 10px; font-size: 18px; color: #333333;
    }

    span {
      padding-right: 10px; font-size: 12px; color: #999;
      &:not(:first-child) {
        padding-left: 10px; border-left: 1px solid #BABABA;
      }
    }

  }

  .asb-scroll-guide-box {
    overflow: hidden;
    position: fixed; left: 50%; bottom: 75px; z-index: 100;
    width: 150px; height: 8px; margin-left: -75px; border-radius: 10px;
    background-color: #D8D8D8;

    .red-bar {
      width: 40px; height: 8px; border-radius: 8px;
      background-color: #4497EC;
    }
  }

  .asb-footer {
    position: fixed; bottom: 0; right: 0; z-index: 100;
    width: 100%; padding: 15px 0; border-top: 1px solid #ccc;
    text-align: right; background-color: #fff;

    .update-btn {
      display: inline-block;
      margin-right: 80px; padding: 7px 32px; border-radius: 17px;
      background-color: #BEBEBE; color: #fff; cursor: not-allowed;

      &.active {
        background-color: #4497EC; cursor: pointer;
      }
    }
  }

  .suspension-ball {
    position: fixed; bottom: 105px; right: 50px; z-index: 20;
    width: 46px; height: 46px; border-radius: 50%;
    background-color: #FFFFFF; box-shadow: 0 2px 7px 0 rgba(68, 151, 236, .4); text-align: center; cursor: pointer;

    .suspension-count { line-height: 46px; font-size: 16px; color: #4497EC; }
    .suspension-icon-list {
      display: block;
      position: relative; top: 50%; transform: translateY(-50%);
      text-align: center;

      span { display: block; width: 20px; height: 2px; margin: auto; background-color: #666; }
      span:not(:first-child) {
         margin-top: 5px;
      }
    }
  }

  .suspension-list-box {
    overflow-y: auto;
    position: fixed; bottom: 130px; right: 75px; z-index: 5;
    width: 390px; max-height: 460px; padding: 20px;
    border: 1px solid #DADADA; border-radius: 4px;
    background-color: #FFFFFF;

    li { margin-bottom: 10px; border-bottom: 1px solid #D8D8D8; }
    p { font-size: 14px; color: #999999; text-align: center; padding: 30px 0;}

    .suspension-lb-row-1{ margin-bottom: 10px; font-size: 14px; color: #333333; }
    .suspension-lb-row-2 {
      margin-bottom: 10px; color: #409EFF;

      span {
        padding-right: 10px;
        &:not(:first-child) { padding-left: 10px; border-left: 1px solid #979797; }
      }
    }

    .nresolve-authschemes-box {
      h3 {}
    }
  }

}