.contract-list-wrapper {
  padding-top: 60px;
  color: #333333;
  //width: 430px;
  background-color: white;

  .presentable-name {
    font-size: 14px;
  }
  .contract-list-title {
    font-size: 18px;
    margin-bottom: 35px;
    margin-left: 35px;
    i {
      margin-right: 12px;
    }
  }

  .contract-list {
    margin-top: 15px;
  }

  .contract-item,
  .presentable-item {
    padding: 0 35px;
    margin-bottom: 10px;
  }
  .contract-item {
    &:hover {
      background-color: #F5F5F5;
    }

    .policy-text {
      white-space: pre-wrap;
    }
  }
}

.contract-exec-container {
  background-color: #FAFAFA;
}
