@import '../../../styles/variables.less';
.r-d-w-main-content {
  width: @main-content-width-990;
  margin: auto;
}

.r-d-w-header {
  padding: 30px 0;

  .preview-box {
    float: left; overflow: hidden;
    width: 160px; height: 120px; border-radius: 2px;
    box-shadow: 0 0 1px #999;

    img{ display: block; width: 100%; height: 100%; }
  }
  .cont {
    padding-left: 180px;
  }
  .r-d-w-name {
    display: flex; align-items: center;
    font-size: 30px; color: #333;
    span {
      display: inline-block;
      overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
      max-width: 620px; margin-right: 5px;
    }

    .el-icon-star-off, .el-icon-star-on {
      display: inline-block; cursor: pointer;
      margin-left: 60px; padding: 4px; border: 1px solid #D8D8D8; border-radius: 50%;
    }
    .el-icon-star-on{
      border-color: #409EFF; color: #409EFF;
    }
  }
  .r-d-w-version {
    width: 88px;
  }
  .r-d-w-info {
    margin: 8px 0;
    span {
      font-size: 14px; color: #999;
      &:not(:first-child) {
        margin-left: 5px; padding-left: 5px; border-left: 1px solid #999;
      }
    }
  }
  .r-d-w-h-desc {
    font-size: 14px;
  }
}

.r-d-w-description {
  margin-top: 70px;
  h2 {
    margin-bottom: 30px; padding: 10px 0 5px 0; border-bottom: 1px solid #696969;
    font-size: 20px; font-weight: 400;
  }
  .ql-editor {
    padding: 0; font-size: 14px; line-height: 20px;
  }

}

.r-d-w-policy {
  padding: 40px 0; background-color: #FAFBFB;

  .r-d-w-main-content { position: relative; height: 472px; }
  .r-d-w-p-left, .r-d-w-p-right {
    float: left; height: 100%; box-sizing: border-box;
    h3 {
      margin: 0 10px; padding: 5px 0; border-bottom: 1px solid #E9E9E9;
      font-size: 14px; font-weight: 400; color: #999;
    }

  }
  .r-d-w-p-left {
    overflow: auto;
    position: relative; width: 30%; padding-bottom: 40px;
    font-size: 14px; font-weight: 500;
    .r-d-w-p-current-releases {
      margin-bottom: 20px;
    }
    .r-d-w-p-upcast-releases {

      .r-item-name {
        position: relative; padding: 10px 10px 2px 45px;
        &:before {
          content: '';
          position: absolute; top: 16px; left: 28px; z-index: 10;
          width: 12px; height: 12px; border-radius: 50%; background-color: #E24B4B;
        }
        &.selected {
          &:before { background-color: #84CCA8;}
        }
      }
    }
    .release-policy-item {
      padding: 0 20px 0 30px;
      &.active { background-color: #fff; }
      .el-checkbox {
        display: block; padding: 16px 0; border-bottom: 1px solid #E9E9E9;
        color: #333;
      }
    }
  }

  .r-d-w-p-right {
    width: 70%;

    .r-d-w-p-text {
      box-sizing: border-box; overflow: auto; white-space: pre-wrap;
      height: 100%; line-height: 22px; padding: 15px 15px 15px 20px;
      font-size: 16px; background-color: #fff; color: #333;
    }
  }

  .r-d-w-p-auth-btn {
    position: absolute; bottom: 0; left: 1.2%; right: 71.2%; z-index: 10;
    height: 34px; line-height: 34px; border-radius: 2px; cursor: pointer;
    background-color: #409EFF; color: #fff; text-align: center;
  }

  .r-d-w-p-compare-btn {
    position: absolute; right: 10px; top: 12px; z-index: 10;
    padding: 3px 10px; border-radius: 13px;
    background-color: #DDEEFF; color: #409EFF; cursor: pointer;

  }
}

.r-d-w-r-p-compare {
  box-sizing: border-box;
  float: left; width: 50%; padding: 20px 0 30px 40px; border-top: 1px solid #D8D8D8;
  &:first-child {
    border-right: 1px solid #D8D8D8;
  }

  .r-d-w-r-p-btn {
    display: inline-block; cursor: pointer;
    margin-right: 15px; margin-bottom: 10px; padding: 3px 12px; border: 1px solid #D4D4D4; border-radius: 15px;
    font-size: 12px;

    &.active {
      border-color: #409EFF; box-shadow: 0 2px 5px rgba(143, 188, 234, 1);
    }
  }

  .r-d-w-r-p-box {
    margin-top: 15px; margin-right: 40px; border-radius: 4px;
    box-shadow: 1px 2px 5px #D8D8D8;
    h4 {
      padding: 10px 12px; border-bottom: 1px solid #D8D8D8;
    }
    .r-d-w-r-p-text {
      overflow: auto; white-space: pre-wrap;
      height: 280px; padding: 12px;
    }
  }
}

.r-d-w-r-sign {
  margin: 0 20px; padding: 25px 20px; border-top: 1px solid #DDDDDD;

  h4 {
    margin-bottom: 10px;
    font-size: 14px; font-weight: 400; color: #333;
  }
  .r-d-w-r-node-list { overflow: hidden; margin-left: 60px; margin-bottom: 15px; }
  .r-d-w-r-node-item {
    display: block;
    margin: 15px 0;
  }
  .rdwr-no-nodes {
    margin: 15px 60px;
    a {
      color: #248fff;
      &:hover { text-decoration: underline; }
    }
  }
  .r-d-w-r-s-releases {
    margin: 0 50px 25px 60px;
    font-size: 14px; font-weight: 500; color: #333;
    .rdwr-s-r-item { overflow: hidden; margin: 10px 0; }
    .rdwr-s-r-item-policy {
      float: right;
      margin: 0 0 0 8px; padding: 2px 10px; border: 1px solid #A5D1FF; border-radius: 2px;
      background-color: #E9F4FF; color: #248fff;
    }
  }
  .rdwr-s-btn-group {
    text-align: center;

    .rdwr-s-btn { width: 110px; padding: 8px 0; border-width: 0; }
    .rdwr-s-btn-cancel { color: #999;  }
    .rdwr-s-btn-sign { border-radius: 4px; }
  }
}

